<div
  id="section-contacts"
  class="o-container wow1 fadeIn"
  data-contentPosition="6"
>
  <div class="c-section-heading">
    <svg
      class="c-section-heading__icon svg-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="91"
      height="91"
      viewBox="0 0 91 91"
    >
      <rect class="svg-icon__border" x="0.5" y="0.5" width="90" height="90" />
      <path
        class="svg-icon__item"
        d="M420.244,4496.18c0.233,0.2.367,0.27,0.4,0.2l0.2-.2q-1.151,1.6,3.35-4.75c1.3-1.83,2.383-3.42,3.25-4.75a58.686,58.686,0,0,0,7.15-14.4,15.384,15.384,0,0,0,.45-7.85,14.379,14.379,0,0,0-2.65-5.85,14.757,14.757,0,0,0-4.9-4.2,14.9,14.9,0,0,0-21.55,16.15,24.1,24.1,0,0,0,1.1,3.75q0.551,1.5,1.55,3.6a93.535,93.535,0,0,0,8.15,13.65q0.85,1.2,2.8,3.8A3.731,3.731,0,0,0,420.244,4496.18Zm7.5-28.45a7.526,7.526,0,0,1-1.15,3.75,7.039,7.039,0,0,1-2.775,2.53,7.4,7.4,0,0,1-3.775.77,6.485,6.485,0,0,1-3.5-1.12,7.688,7.688,0,0,1-2.5-2.75,6.6,6.6,0,0,1-.8-3.53,7.617,7.617,0,0,1,1.15-3.8,7.079,7.079,0,0,1,2.825-2.55,7.263,7.263,0,0,1,3.875-.75,6.615,6.615,0,0,1,3.425,1.18,7.393,7.393,0,0,1,2.45,2.75,7.065,7.065,0,0,1,.825,3.52h-0.05Z"
        transform="translate(-374.5 -4428.5)"
      />
    </svg>
    <h2 class="c-section-heading__header">Contact.</h2>
  </div>

  <div class="c-screen-contact o-screen-contact">
    <div class="o-screen-contact__col-info">
      {% if site.data.home.email != "-" %}
      <a class="c-screen-contact__item" href="mailto:{{site.data.home.email}}"
        >{{site.data.home.email}}</a
      >
      {% endif %} {% if site.data.home.skype != "-" %}
      <a class="c-screen-contact__item">skype: {{site.data.home.skype}}</a>
      {% endif %} {% if site.data.home.phone != "-" %}
      <a class="c-screen-contact__item" href="tel:{{site.data.home.phone}}"
        >{{site.data.home.phone}}</a
      >
      {% endif %}

      <ul class="c-socials u-mb-20">
        {% if site.data.home.linkedin != "-" %}
        <li class="c-socials__item">
          <a href="{{site.data.home.linkedin}}" class="c-socials__link">
            <i class="icofont icofont-brand-linkedin"></i>
          </a>
        </li>
        {% endif %} {% if site.data.home.facebook != "-" %}
        <li class="c-socials__item">
          <a href="{{site.data.home.facebook}}" class="c-socials__link">
            <i class="icofont icofont-social-facebook"></i>
          </a>
        </li>
        {% endif %} {% if site.data.home.twitter != "-" %}
        <li class="c-socials__item">
          <a href="{{site.data.home.twitter}}" class="c-socials__link">
            <i class="icofont icofont-social-twitter"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      {% if site.data.home.twitter != "-" %}
      <ul class="c-screen-contact__address">
        <li>
          {{site.data.home.address | markdownify}}
        </li>
      </ul>
      {% endif %}
    </div>
    <div class="o-screen-contact__col-form">
      <form
        class="c-form js-form-validation"
        method="POST"
        id="contact-form"
        data-netlify="true"
        netlify-honeypot="mandatory-field"
      >
        <label for="contact-name">Your name</label>
        <input
          class="c-form__field"
          id="contact-name"
          type="text"
          name="name"
          placeholder="Mary Jane, for example"
          required
        />
        <p style="display: none;">
          <label
            >Don’t fill this out if you're human: <input name="mandatory-field"
          /></label>
        </p>
        <label for="contact-email">Your e-mail</label>
        <input
          class="c-form__field"
          id="contact-email"
          type="email"
          name="email"
          placeholder="yourmail@mail.com"
          required
        />
        <label for="contact-message">Message text</label>
        <textarea
          class="c-form__field"
          id="contact-message"
          name="message"
          placeholder="Write here your question or interesting offer"
          required
        ></textarea>
        <fieldset class="u-text-right">
          <button
            class="c-button c-button--primary"
            type="submit"
            name="contact-submit"
          >
            send a message
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
