<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Seneff</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- inject:css -->
  <!-- endinject -->

  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Lora:400,400i,700"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="css/main-gold.css"
    data-pin="img/icofont-location-pin--gold.png"
  />

  <link rel="stylesheet" href="css/leaflet-1.6.0.min.css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
