<!-- ABOUT SECTION-->
<div
  id="section-about"
  class="c-screen-about c-screen-about--fullwidth o-screen-about"
  data-contentPosition="1"
>
  <div class="o-screen-about__col">
    <h1 class="c-screen-about__header u-mb-5">Lora Simpson</h1>
    <span class="c-screen-about__caption"
      >Associated Professor, doctor of social sience</span
    >
    <ul class="c-socials u-mb-35">
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-brand-linkedin"></i>
        </a>
      </li>
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-social-facebook"></i>
        </a>
      </li>
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-social-twitter"></i>
        </a>
      </li>
    </ul>
    <p class="u-mb-10">
      <span class="u-block">Hello!</span> I’m Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo quat. Duis aute irure! Dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>

    <a class="c-button c-button--bold-text u-mb-30" href="#">download cv</a>
  </div>
</div>
