<!-- ABOUT SECTION-->
<div
  id="section-about"
  class="c-screen-about c-screen-about--fullwidth o-screen-about"
  data-contentPosition="1"
>
  <div class="o-screen-about__col">
    <h1 class="c-screen-about__header u-mb-5">{{site.data.home.name}}</h1>
    <h1 class="c-screen-about__caption" style="color:#fff; font-size:24px;"
      >{{site.data.home.title}}</h1
    >
    <ul class="c-socials u-mb-35">
      {% if site.data.home.linkedin != "-" %}
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-brand-linkedin"></i>
        </a>
      </li>
      {% endif %}
      {% if site.data.home.facebook != "-" %}
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-social-facebook"></i>
        </a>
      </li>
      {% endif %}
      {% if site.data.home.twitter != "-" %}
      <li class="c-socials__item">
        <a href="#" class="c-socials__link">
          <i class="icofont icofont-social-twitter"></i>
        </a>
      </li>
      {% endif %}
    </ul>

      {% if site.data.home.cvdownload != "-" %}
      <a class="c-button c-button--bold-text u-mb-30" href="{{site.data.home.cvdownload}}" target="_blank">download cv</a>
      {% endif %}
    </div>
</div>
 