---
layout: default
---

<html class="" lang="en">
  {% include head.html %}
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <div class="menu">
        <a href="/blog">← Back to the blog</a>
    </div>

    <div class="ie-overflow-fix" style="overflow: hidden;">
      <link
        rel="stylesheet"
      href="/css/main-gold.css"
        data-pin="img/icofont-location-pin--gold.png"
      />

      <main class="o-main blog">
        <div>
    
            <div class="c-section-heading" style="margin-top:0">

            </div>
          
            <h2>{{page.title}}</h2>
            <h3>{{page.date | date: "%a, %b %d, %Y"}}</h3>
            <p>{{content | markdownify}}</p>
          </div>
          
        </main>

    </div>

  </body>
</html>
